

#title{
  background-color: #BF5349;
}
.head{
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  color: #053BA6;
  margin-top: 70px;
}
.nav{
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  color: white;
}
.container-fluid{
  padding: 3% 15%;
}
.item{
  font-family: 'Ubuntu', sans-serif;
  font-size:2rem;
  color:white;
  margin-right: 10px;
  padding-left: 5px;
}
.divider {
   border-right: 1px solid white;
  }
.btn{
  margin-top:20px;
  margin-right:20px;
  margin-bottom: 40px;
}

.rotate{
  transform: rotate(10deg);
  position:absolute;
}
.container-fluid{
  position: relative;
  bottom:40px;
}
/* Features section */
.icon{
  color:#BF5349;
  font-size:6rem;
}
.icon:hover{
  color:#69359C;
}
#features{
  padding: 15% 7%;

  background-color: white;
  position:relative;
}
.feature{
  padding-top:10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
.subfeature{
  font-family: 'Ubuntu', sans-serif;
  font-size:0.5rem;
  color:#D9D0C1;
}
.feat-margin{
  margin:50px 0;
}
/* Testimonial Section */
#testimonials{
  padding:7%;
  text-align:center;
  background-color: #BF5349;
  color:#053BA6;
}
.carousel-item:{
  padding:7% 15%;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size:3rem;
  line-height:1.5;
}
.testimonial-image{
  width:20%;
  height:20%;
  border-radius:100%;
  margin:10px;
}
#press{
  background-color: #BF5349;
  text-align: center;
  padding-bottom:3%;
}
.press-logo{
  width:15%;
  margin:20px 20px 20px 50px;
}
.card-align{
  text-align:center;
}
.card-deck{
  display: inline;
}
#pricing{
  padding:100px;
  text-align:center;
}
@media(max-width:1024px){
  #title{
    text-align:center;
  }
  .rotate{
    position: static;
    transform:rotate(0);
  }
}
#cta{
  background-color: #BF5349;
  text-align:center;
  padding:100px;
}
.foot{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  line-height: 1.5;
  color: #053BA6;
}
#footer{
  text-align:center;
  padding:30px;
}
.icon-foot{
  text-size:30px;
  padding:10px;
}
